*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-between{
    align-content:space-between;
}
.wrap{
    flex-wrap: wrap;
}

body{
    background-color: black;
}

header{
    height: 80px;
    background-color: aquamarine;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    color: white;
}

.card{
    width:calc( (100% / 7) - 20px );
    background-color: brown;
    height: 120px;
}