*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-between{
    align-content:space-between;
}
.wrap{
    flex-wrap: wrap;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: black;
}


.container{
    width: 80%;
    margin: 0 auto;
    color: white;
}

.card{
    width:calc( (100% / 7) - 8px );
    margin-top: 9px;
    margin-right: 5px;
}

footer{
    background-color: coral;
    padding: 26px;
    margin-top: 23px;
}

.footer-nav{
    height: 100%;
}

.video-audio,
.end-meeting{
    width: 15%;
    height: 100%;
}

.zoom-options{
    width: 40%;
    height: 100%;
}


.button{
    background-color: #4a4a4a;
    opacity: 0.8;
    border-radius: 5px;
    color: white;
    margin: 3px;
    padding: 2px;
    font-size: 0.85rem;
}

.zoom-photo{
    height: 150px;
    width: 100%;
}

.button-container{
    padding-bottom: 30px;
}